html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1 {
  font-size: 1.75rem;
}
.index_heading {
  font-size: xx-large;
  font-weight: 500;
  position: absolute;
  top: 10vh;
  left: 27vw;
}

.index_input_email {
  color: rgb(214, 168, 40);
  width: 240px;
  position: absolute;
  top: 40vh;
  left: 30vw;
}
.index_input_password {
  color: rgb(214, 168, 40);
  width: 240px;
  position: absolute;
  top: 40vh;
  left: 50vw;
}

.signup_input_username {
  color: rgb(214, 168, 40);
  width: 240px;
  position: absolute;
  top: 40vh;
  left: 40vw;
}

.signup_input_email {
  color: rgb(214, 168, 40);
  width: 240px;
  position: absolute;
  top: 45vh;
  left: 40vw;
}
.signup_input_password {
  color: rgb(214, 168, 40);
  width: 240px;
  position: absolute;
  top: 50vh;
  left: 40vw;
}

body {
  background-color: rgb(0, 150, 240);
  opacity: 1;
}

.index_button_login {
  color: black;
  background-color: rgb(0, 120, 190);
  position: absolute;
  top: 50vh;
  left: 45vw;
  font-weight: 100;
  width: 120px;
}
.index_text_or {
  position: absolute;
  top: 55vh;
  left: 45vw;
}

.index_button_signup {
  color: black;
  position: absolute;
  top: 60vh;
  left: 45vw;
  background-color: rgb(0, 120, 190);
  font-weight: 100;
  width: 120px;
}
.index_inputs {
  background-color: grey;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
}

.signup_button_signup {
  color: black;
  position: absolute;
  top: 60vh;
  left: 43vw;
  background-color: rgb(0, 120, 190);
  font-weight: 100;
  width: 120px;
}

.signup_inputs {
  background-color: darkgray;
}

/* Stake */

.App {
  background-color: #fff;
  text-align: center;
  min-height: 100vh; /* required for full page background */
}

#root {
  min-height: 100vh; /* required for full page background */
}

.col-md-2 {
  color: orange;
  font-weight: bold;
}
.col-md-3 {
  color: black;
  font-weight: bolder;
}

.appBody {
  height: 100%;
  margin-top: 80px;
}

/*////////////////////////////////////////////////////////////////////////////*/
/* Nav Bar */
.navButton {
  display: inline-block;
  margin-left: 24px;
  padding: 5px;
  color: #1168f1;
  font-size: 24px;
}
.connectButton {
  float: right;
  margin-right: 24px;
  background-color: #1168f1;
  border-radius: 4px;
  padding: 5px 15px;
  color: #f1f1f3;
  font-size: 24px;
  cursor: pointer;
}
.connectButton:hover {
  background-color: #f90;
}
.navBar {
  padding-top: 18px;
  overflow: hidden;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(17, 104, 241, 0.08);
}

/*////////////////////////////////////////////////////////////////////////////*/
/* Market */
.stake_marketcontainer {
  background-color: #1168f1;
  width: 620px;
  height: 170px;
  margin: 0 auto;
  top: 50%;
  border-radius: 24px;
  padding: 8px;
}
.subContainer {
  margin-bottom: 20px;
}
.stake_marketOption {
  display: flex;
  margin-left: 60px;
  float: right;
}
.optionData {
  margin-left: 10px;
  color: #fff;
  font-weight: 700;
}
.optionPercent {
  display: block;
  font-size: 24px;
  font-weight: 1000;
  color: #f90;
}
.logoImg {
  background-color: #fff;
  border-radius: 100px;
  margin-bottom: 14px;
  margin-right: 14px;
  width: 28px;
  height: 28px;
}
.marketHeader {
  color: #fff;
  font-size: 32px;
  font-weight: 800;
}
.stake_hoverButton:hover {
  background: #f90;
  cursor: pointer;
}
.stake_hoverButton:active {
  /* box-shadow: 0 0 0 white; */
  box-shadow: inset;
}

/*////////////////////////////////////////////////////////////////////////////*/
/* Assets */
.stake_assetContainer {
  background-color: #1168f1;
  width: 620px;
  min-height: 225px;
  margin: 0 auto;
  top: 50%;
  border-radius: 24px;
  padding: 6px;
  padding: 8px;
  margin-top: 50px; /* space between sections */
  color: #fff;
  font-weight: 500;
}
.stake_columnHeaders {
  font-weight: 800;
  color: #f90;
}
.stakedLogoImg {
  background-color: #fff;
  border-radius: 100px;
  margin-bottom: 14px;
  margin-right: 14px;
  width: 18px;
  height: 18px;
}

/*////////////////////////////////////////////////////////////////////////////*/
/* Glyphs */
.glyphContainer {
  background-color: #fff;
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 12px;
}
.glyph {
  font-size: 34px;
}

/******************************************************************************/
/* Stake Modal */
.modal-class {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: -400px;
  right: 0px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(86, 90, 105);
}
.modal-content {
  background-color: #fff;
  width: 300px !important;
  padding: 0px 15px;
  background-color: rgb(237, 238, 242) !important;
  border: 1px solid rgb(206, 208, 217) !important;
  border-radius: 12px !important;
}
.fieldContainer {
  padding-left: 0px !important;
}
.inputField {
  padding-left: 10px;
  border-radius: 36px;
  border: 1px solid #65cdee;
  height: 2rem;
  margin: 10px 0;
  width: 100%;
}
.inputFieldUnitsContainer {
  padding-left: 0px !important;
  padding-top: 14px;
}
.orangeButton {
  width: 100%;
  height: 45px;
  line-height: 45px;
  font-size: 24px;
  color: #fff;
  border-radius: 20px;
  background-color: #dd2f81;
  cursor: pointer;
}
.orangeMiniButton {
  width: 100%;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  color: #000;
  border-radius: 20px;
  background-color: #fff;
  cursor: pointer;
}
.orangeMiniButton:hover {
  color: #fff;
  background-color: #f90;
}
.stakingTerms {
  color: blue;
}

/* Exchange */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.exchange_App_Header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* 
NavBar */

.navBar {
  position: relative;
  width: 75%;
  left: 0%;
  top: 0%;
  height: 35px;
  background-color: rgb(150, 150, 150);
  margin-left: 15%;
  margin-right: 15%;
  justify-content: center;
}

.login_banner {
  width: 100%;
}

.navBar_buttonGroup {
  position: relative;
  left: 30%;
  bottom: 80%;
  background-color: rgb(64, 128, 200);
  width: 700px;
  height: 45px;
}

.navBar_button {
  margin-left: 15px;
  margin-top: 10px;
  width: 17%;
}

.navBar_Welcome {
  margin-left: 25px;
  font-size: larger;
  font-weight: 900;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.benificary {
  background-color: lightgray;
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_beneficary_username {
  margin-left: 15px;
  margin-bottom: 15px;
}

.home_beneficary_address {
  margin-left: 15px;
  margin-bottom: 15px;
}

.home_view_account {
  margin-top: 15px;
  display: flex;
  margin-left: 50px;
  justify-content: center;
  align-items: center;
  background-color: #f90;
  width: 75%;
}
.home_heading {
  /* float: left; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
}
.home_box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home_Search {
  margin-top: 15px;
  margin-bottom: 15px;
}

.home_trans_his {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_beneficary {
  display: flex;
  justify-content: center;
  align-items: center;
}

.show {
  /* width: 30%; */
  /* margin-top: 15px;
  margin-bottom: 15px; */
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show_info {
  margin-left: 415px;
  margin-top: 15px;
  margin-right: 415px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show_contribute {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  align-items: center;
}
.history_Info {
  background-color: lightblue;
  margin-top: 15px;
  margin-bottom: 15px;

  width: 100%;
}

.history_title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.history_content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.exchange_Deposit {
  margin-top: 15px;
  background-color: rgb(0, 120, 190);
  color: black;
  border-radius: 4%;
  width: 325px;
}

.exchange_Withdraw {
  margin-top: 15px;
  background-color: rgb(0, 120, 190);
  color: black;
  border-radius: 4%;
}

.exchange_Deposit_Select {
  margin-bottom: 15px;
}
.exchange_Withdraw_Select {
  margin-bottom: 10px;
}
/* LOANS */
.loans_Position {
  background-color: darkblue;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  height: 225px;
}
.loans_Withdraw_Button {
  background-color: #f90;
  border-radius: 10%;
  border: 1px solid orange;
}
.loan_deposit_input {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
}

.loan_deposit_input_eth {
  margin-left: 10px;
}
.loan_exchangerate {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loan_exchangerate_select {
  margin-left: 10px;
}

.loans_loan_button {
  background-color: #f90;
  border-radius: 5%;
  border: 1px solid orange;
  width: 150px;
  margin-bottom: 35px;
}

.loan_loan {
  background-color: darkgray;
}
